.search-filter {
    box-sizing: border-box;
    width: 100%;
}

#search {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#filter {
    width: 100%;
    margin-bottom: 1.5rem;
}
.label-text {
    width: 40%;
    word-wrap: break-word;
}

.btn {
    float: right;
    /* margin-right: 0.15rem; */
}

.list-group {
    margin-top: 1rem;
}

.container {
    margin-top: 1rem;
}

.item-list-base {
    word-break: break-all;
    font-size: 1.5rem;
}

.done {
    text-decoration: line-through;
}

.important {
    color: red;
}

.item-add-form {
    margin-top: 1rem;
}